body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.card {
    box-sizing: border-box;
    background-color: red;
    width: 300px;
    height: 500px;
    padding: 10px;
    z-index: 2;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.contenido {
    background-color: red;
    width: 270px;
    height: 480px;
    border: #fff solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabeza {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.new {
    background-color: #fff;
    width: 75px;
    height: 75px;
    text-align: center;
    justify-items: center;
    border-radius: 50%;
    transform: rotate(25deg);
    position: relative;
    top: 10px;
    right: 3px;
}

.new p {
    position: relative;
    font-size: 35px;
    margin: 15px 0;
}

h1 {
    background-color: #910000;
    width: 250px;
    text-align: center;
    color: #ffffff;
    margin: 40px 0;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cuerpo p{
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin: 10px 15px;
}

i {
    color: #fff;
    font-size: 75px;
    margin: 20px 0;
}

.custom-button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #ffffff 30%, #000 30%, #000 100%);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 30px;
}

.custom-button:hover {
    background: linear-gradient(to right, #000000 30%, #ffffff 30%, #ffffff 100%);
}

.custom-button:hover .suscrib {
    color: #000;
}

.custom-button:hover .precio {
    color: #fff;
}

.suscrib {
    position: relative;
    left: 7px;
    color: #fff;
}

.precio {
    position: relative;
    right: 10px;
    color: #000;
}

.triangulo{
    background-color: red;
    height: 100px;
    width: 100px;
    z-index: -1;
    position: absolute;
    top: 488px;
    transform: rotate(45deg);
}